@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.brand-logo,h2{
  font-family: "Grand Hotel","cursive" !important;
  
}
.brand-logo{
  margin-left: 20px;
}
.my-card{
    width: 50%;
    margin: 50px auto;
    padding: 30px;
}
.my-card h2,p{
    text-align: center;
}

.my-btn {
  margin: 0 45% !important;
}
/* label underline focus color */
.my-card input[type=text]:focus {
    border-bottom: 1px solid rgb(16, 24, 34) !important;
    box-shadow: 0 1px 0 0 rgb(16, 24, 34) !important;
}
.my-card input[type=password]:focus {
  border-bottom: 1px solid rgb(16, 24, 34) !important;
  box-shadow: 0 1px 0 0 rgb(16, 24, 34) !important;
}

.profile-img {
  max-width: 30% ;
  
}
.profile-img img{
  max-width: 90%;
  border-radius: 45%;
  margin: 40px auto;
  display: block;
}
.post-img{
  max-width: 30%;
  max-height: 30%;
}
.profile{
  margin:10px 20%;
}
.box-1{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}
.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50% ;
}
.reach{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info h5{
  text-align: center;
}
.post{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-top: 10px;
}

/*Home*/
.home-container{
  margin:10px 20%;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}
.home-post{
  width:100%;
  margin-top:20px;
  border:1px solid grey;
}
.home-post img{
  width:100%;
  
  
  border:1px solid grey;
}

 .name{

  color: black !important;
  
}

.like-para{
  text-align: left;
  margin: 7px 0;
}

.post-container{
  padding: 7px;
}
.post-container h5{
  margin: 0;
}

.delete{
  float: right;
}
/* .my-btn{
  width:50% !important
} */




